//start responseive var.........

$maxmobile: "(max-width:767px)";
$maxsmall: "(max-width:991px)";
$minsmall: "(min-width:768px)";
$minmedium: "(min-width:992px)";
$minlarge: "(min-width:1200px)";
//end responseive var..........
//
//
//
//start coloring...........
//
//background_color1: ;
//background_color1: ;
//$main_color: ;
//$main_font_color: ;
//$p1fontcolor: ;
//$p2fontcolor: ;
//end coloring............
//
//
//
//start dirctions.........
$float_left: left;
$float_right: right;
$text_left: left;
$text_right: right;
//end dirctions.........

/////
//others var